* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
}

li a:hover {
  border-bottom: 4px white solid;
  transition: 0.2s;
}

.header__sticky {
  background: black;
  transition: 0.2s;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 76px;
  padding: 0px 16px;
  color: white;
  background: transparent;
  transition: 0.3s;
  z-index: 10000;
  min-width: 100%;
  max-width: 100%;
  margin: auto;
}
header #icon {
  font-family: "Alata", sans-serif;
  font-size: 22px;
  margin-top: 22px;
}
header ul {
  display: flex;
  margin-left: -1000px;
  transition: 0.3s;
  flex-flow: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 80px;
}
header ul li {
  padding-top: 18px;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
header #icon__menu__close {
  position: absolute;
  right: 16px;
  top: 22px;
  height: 24px;
  width: 36px;
}

.menumobileopen {
  background-image: url(../images/icon-hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menumobileclose {
  background-image: url(../images/icon-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.headeropen {
  background-color: black;
  transition: 0.3s;
  height: 100vh;
}

.ulopen {
  margin-left: 0px;
  transition: 0.3s;
}

main {
  background: url(../images/mobile/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  min-width: 100%;
  height: 100vh;
}
main #container__hero__h1 {
  max-width: 90%;
  height: fit-content;
  margin-top: 180px;
  border: white solid 2px;
  line-height: 40px;
}
main h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 19px;
}

.main__menu__open {
  z-index: -32;
}

#vr__section {
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-top: 100vh;
  /* #container__text{
      margin-right: -1500px;
      transition: 1s ease;
  } */
}
#vr__section #man__vr {
  width: 100%;
  margin-top: 100px;
  padding: 0px 16px;
  /* margin-left: -1500px;
  transition: 1s ease; */
}
#vr__section h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  padding: 0px 32px;
  text-align: center;
  line-height: 36px;
  margin-top: 44px;
  font-size: 32px;
}
#vr__section p {
  margin-top: 18px;
  padding: 0px 32px;
  text-align: center;
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-weight: 300;
  width: 100%;
}

#creations {
  margin-top: 20%;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#creations h2 {
  text-align: center;
  font-size: 32px;
  z-index: 32;
  margin-bottom: 24px;
}
#creations .card {
  position: relative;
}
#creations .categories {
  height: 115px;
  margin: 15px 16px;
  font-size: 26px;
  font-weight: 300;
  padding: 45px 0px 0px 16px;
  filter: brightness(0.7);
}
#creations .card:hover {
  cursor: pointer;
}
#creations .card:hover .categories {
  filter: opacity(65%);
  transition: 0.3s;
}
#creations .card:hover p {
  color: black;
  transition: 0.3s;
}
#creations p {
  color: white;
  position: absolute;
  bottom: 12px;
  left: 32px;
  font-size: 24px;
}

/* .categories:hover{
    filter:opacity(70%);
    color: black;
} */
#deep__earth {
  background: url(../images/mobile/image-deep-earth.jpg);
}

#night__arcade {
  background: url(../images/mobile/image-night-arcade.jpg);
}

#soccer__team {
  background: url(../images/mobile/image-soccer-team.jpg);
}

#the__grid {
  background: url(../images/mobile/image-grid.jpg);
}

#from__up__above {
  background: url(../images/mobile/image-from-above.jpg);
}

#pocket__borealis {
  background: url(../images/mobile/image-pocket-borealis.jpg);
}

#the__curiosity {
  background: url(../images/mobile/image-curiosity.jpg);
}

#make__it {
  background: url(../images/mobile/image-fisheye.jpg);
}

#deep__earth, #night__arcade, #soccer__team, #the__grid, #from__up__above, #pocket__borealis, #the__curiosity, #make__it {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#btn__categories {
  text-align: center;
  border: solid 2px black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  margin: auto;
  color: black;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 24px;
  transition: background 0.3s;
}

#btn__categories:hover {
  background: black;
  color: white;
  transition: background 0.3s;
}

footer {
  margin-top: 56px;
  background: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 480px;
}
footer #logo__footer {
  width: 200px;
  margin-top: 50px;
}
footer ul {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
footer ul li {
  margin-bottom: 16px;
}
footer ul li a {
  text-align: center;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
footer #ul__socialmedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  width: 180px;
  margin: 20px auto 0px auto;
}
footer #ul__socialmedia li {
  list-style: none;
}
footer #ul__socialmedia a img {
  width: 30px;
}
footer small {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  margin: 0px 0px 32px 0px;
  color: #696666;
}

@media only screen and (min-width: 500px) {
  main {
    justify-content: center;
  }
  main #container__hero__h1 {
    margin-top: 40vh;
    width: 70%;
  }
  main h1 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 19px;
    line-height: 54px;
  }

  #vr__section p {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 760px) {
  main {
    background-size: 100%;
    width: 400px;
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  main #container__hero__h1 {
    margin-top: 35vh;
    border: white solid 2px;
    line-height: 40px;
    width: 50%;
    margin-left: 32px;
  }

  #vr__section #container__text {
    width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  body {
    /* background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center; */
    background: none;
    /* height: auto; */
  }

  header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    height: 80px;
    padding: 0px 56px;
    transition: 0s;
    position: fixed;
    min-width: 100%;
    top: 0;
    z-index: 1000;
  }
  header #icon {
    font-size: 32px;
    margin-top: 0;
  }
  header ul {
    display: flex;
    margin-left: 0px;
    transition: 0s;
    flex-flow: row;
    align-items: left;
    margin-top: 0px;
  }
  header ul li {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
  }
  header ul li a {
    margin-right: 20px;
    font-size: 18px;
    text-transform: capitalize;
  }
  header #icon__menu__close {
    display: none;
  }

  main {
    background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-width: 100%;
    height: 100vh;
    margin: 0px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
  }
  main #container__hero__h1 {
    margin-top: 30vh;
    margin-left: 56px;
    width: 500px;
    height: fit-content;
  }
  main #container__hero__h1 h1 {
    text-align: left;
    font-size: 60px;
    line-height: 56px;
    padding: 24px;
  }

  #vr__section {
    padding: 0 56px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 100vh;
  }
  #vr__section #man__vr {
    width: 60%;
    z-index: 1;
    margin-left: -1000px;
    transition: 0.8s ease-out;
  }
  #vr__section #container__text {
    margin-right: -1000px;
    background: white;
    z-index: 22;
    margin-left: -100px;
    margin-bottom: -2px;
    padding: 12px 0px 2px 12px;
    transition: 0.8s ease-out;
  }
  #vr__section #container__text h2, #vr__section #container__text p {
    text-align: left;
  }

  #container__categories {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
  }
  #container__categories .categories {
    padding: 0px;
    height: 450px;
    padding: 360px 0px 0px 26px;
  }
  #container__categories p {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 32px;
  }

  #creations {
    margin: 0px 56px;
    margin-top: 180px;
    padding: 0px;
    position: relative;
  }
  #creations h2 {
    display: flex;
    align-self: flex-start;
    margin-left: 12px;
    padding-top: 12px;
  }
  #creations #deep__earth {
    background: url(../images/desktop/image-deep-earth.jpg);
  }
  #creations #night__arcade {
    background: url(../images/desktop/image-night-arcade.jpg);
  }
  #creations #soccer__team {
    background: url(../images/desktop/image-soccer-team.jpg);
  }
  #creations #the__grid {
    background: url(../images/desktop/image-grid.jpg);
  }
  #creations #from__up__above {
    background: url(../images/desktop/image-from-above.jpg);
  }
  #creations #pocket__borealis {
    background: url(../images/desktop/image-pocket-borealis.jpg);
  }
  #creations #the__curiosity {
    background: url(../images/desktop/image-curiosity.jpg);
  }
  #creations #make__it {
    background: url(../images/desktop/image-fisheye.jpg);
  }
  #creations #deep__earth, #creations #night__arcade, #creations #soccer__team, #creations #the__grid, #creations #from__up__above, #creations #pocket__borealis, #creations #the__curiosity, #creations #make__it {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  #creations #btn__categories {
    position: absolute;
    top: 0px;
    right: 14px;
    margin: 0px;
    width: 200px;
  }

  footer {
    padding: 0 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-top: 180px;
  }
  footer #logo__footer {
    width: 270px;
    margin-top: 10px;
  }
  footer #logo__and__links ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 12px;
  }
  footer #logo__and__links ul li {
    margin-right: 16px;
  }
  footer #icons__and__copyright {
    margin-top: 8px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
  }
  footer #icons__and__copyright #ul__socialmedia li {
    margin-left: 26px;
  }
  footer #icons__and__copyright #ul__socialmedia li img {
    width: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
  }

  small {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #vr__section #container__text {
    background: white;
    z-index: 22;
    margin-left: -100px;
    margin-bottom: -2px;
    padding: 52px 0px 0px 5%;
    height: 320px;
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }
  #vr__section #container__text h2 {
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 44px;
  }
  #vr__section #container__text p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1550px) {
  #vr__section #container__text {
    background: white;
    z-index: 22;
    margin-left: -100px;
    margin-bottom: -2px;
    padding: 22px 0px 0px 5%;
    height: 300px;
    width: 53%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
  }
  #vr__section #container__text h2 {
    margin-bottom: 2px;
    font-size: 36px;
    line-height: 44px;
  }
  #vr__section #container__text p {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
