* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url(../images/mobile/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100vh;
  padding: 0px 16px;
  color: white;
  transition: 0.5s;
}
header #icon {
  font-family: "Alata", sans-serif;
  margin-top: 28px;
  font-size: 22px;
}
header ul {
  display: flex;
  margin-left: -1000px;
  transition: 1.4s;
  flex-flow: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 80px;
}
header ul li {
  padding-top: 18px;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
header ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
header #icon__menu__close {
  position: absolute;
  right: 16px;
  top: 32px;
  height: 24px;
  width: 36px;
  background: url(../images/icon-hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.menuopen {
  background: url(../images/icon-close.svg);
}

.headeropen {
  background-color: black;
  transition: 0.3s;
}

.ulopen {
  margin-left: 0px;
  transition: 0.3s;
}

.menuopen {
  background: url(../images/icon-close.svg);
}

main {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  width: 300px;
}
main #container__hero__h1 {
  margin-top: 100px;
  border: white solid 2px;
  line-height: 40px;
}
main h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 19px;
}

.main__menu__open {
  z-index: -32;
}

#vr__section {
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0px;
}
#vr__section #man__vr {
  width: 100%;
  margin-top: 100px;
  padding: 0px 16px;
}
#vr__section h2 {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  padding: 0px 32px;
  text-align: center;
  line-height: 36px;
  margin-top: 44px;
  font-size: 32px;
}
#vr__section p {
  margin-top: 18px;
  padding: 0px 32px;
  text-align: center;
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-weight: 300;
  width: 100%;
}

#creations {
  margin-top: 20%;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#creations h2 {
  text-align: center;
  font-size: 32px;
  z-index: 32;
  margin-bottom: 24px;
}
#creations .categories {
  height: 115px;
  margin: 15px 16px;
  font-size: 26px;
  font-weight: 300;
  padding: 45px 0px 0px 16px;
  color: white;
}
#creations #deep__earth {
  background: url(../images/mobile/image-deep-earth.jpg);
}
#creations #night__arcade {
  background: url(../images/mobile/image-night-arcade.jpg);
}
#creations #soccer__team {
  background: url(../images/mobile/image-soccer-team.jpg);
}
#creations #the__grid {
  background: url(../images/mobile/image-grid.jpg);
}
#creations #from__up__above {
  background: url(../images/mobile/image-from-above.jpg);
}
#creations #pocket__borealis {
  background: url(../images/mobile/image-pocket-borealis.jpg);
}
#creations #the__curiosity {
  background: url(../images/mobile/image-curiosity.jpg);
}
#creations #make__it {
  background: url(../images/mobile/image-fisheye.jpg);
}
#creations #deep__earth, #creations #night__arcade, #creations #soccer__team, #creations #the__grid, #creations #from__up__above, #creations #pocket__borealis, #creations #the__curiosity, #creations #make__it {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#creations #btn__categories {
  text-align: center;
  border: solid 2px black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  margin: auto;
  color: black;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 24px;
}

footer {
  margin-top: 66px;
  background: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
footer #logo__footer {
  width: 200px;
  margin-top: 50px;
}
footer ul {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
footer ul li {
  margin-bottom: 16px;
}
footer ul li a {
  text-align: center;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
footer #ul__socialmedia {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  width: 200px;
}
footer #ul__socialmedia a img {
  width: 30px;
}
footer small {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  margin: 0px 0px 32px 0px;
  color: #696666;
}

@media only screen and (min-width: 500px) {
  main {
    width: 70%;
    justify-content: center;
  }
  main #container__hero__h1 {
    margin-top: 100px;
  }
  main h1 {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 19px;
    line-height: 44px;
  }

  #vr__section p {
    width: 85%;
  }
}
@media only screen and (min-width: 760px) {
  body {
    background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  header {
    padding: 0px 56px;
  }

  main {
    width: 400px;
    margin-left: 56px;
  }
  main #container__hero__h1 {
    margin-top: 100px;
    border: white solid 2px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 992px) {
  body {
    background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }

  header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    padding: 0px 56px;
    transition: 0s;
  }
  header #icon {
    font-size: 32px;
  }
  header ul {
    display: flex;
    margin-left: 0px;
    transition: 0s;
    flex-flow: row;
    align-items: left;
    margin-top: 20px;
  }
  header ul li {
    font-family: "Alata", sans-serif;
    font-weight: 400;
  }
  header ul li a {
    margin-right: 20px;
    font-size: 18px;
    text-transform: capitalize;
  }
  header #icon__menu__close {
    display: none;
  }

  main {
    bottom: 100px;
    height: fit-content;
  }
  main #container__hero__h1 {
    margin-left: 56px;
  }
  main #container__hero__h1 h1 {
    text-align: left;
    font-size: 60px;
    line-height: 56px;
    padding: 24px;
  }

  #vr__section {
    padding: 0 56px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #vr__section #man__vr {
    width: 60%;
    z-index: 1;
  }
  #vr__section #container__text {
    background: white;
    width: 40;
    z-index: 22;
    height: 50%;
    margin-left: -100px;
    margin-bottom: -2px;
    padding: 32px 0px 2px 32px;
  }
  #vr__section #container__text h2, #vr__section #container__text p {
    text-align: left;
  }

  #container__categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 56px;
  }
  #container__categories .categories {
    height: 450px;
    padding: 360px 0px 0px 26px;
  }

  #creations #deep__earth {
    background: url(../images/desktop/image-deep-earth.jpg);
  }
  #creations #night__arcade {
    background: url(../images/desktop/image-night-arcade.jpg);
  }
  #creations #soccer__team {
    background: url(../images/desktop/image-soccer-team.jpg);
  }
  #creations #the__grid {
    background: url(../images/desktop/image-grid.jpg);
  }
  #creations #from__up__above {
    background: url(../images/desktop/image-from-above.jpg);
  }
  #creations #pocket__borealis {
    background: url(../images/desktop/image-pocket-borealis.jpg);
  }
  #creations #the__curiosity {
    background: url(../images/desktop/image-curiosity.jpg);
  }
  #creations #make__it {
    background: url(../images/desktop/image-fisheye.jpg);
  }
  #creations #deep__earth, #creations #night__arcade, #creations #soccer__team, #creations #the__grid, #creations #from__up__above, #creations #pocket__borealis, #creations #the__curiosity, #creations #make__it {
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
  }

  footer {
    padding: 0 10%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
  }
  footer #logo__footer {
    width: 270px;
    margin-top: 10px;
  }
  footer #logo__and__links ul {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 12px;
  }
  footer #logo__and__links ul li {
    margin-right: 16px;
  }
  footer #icons__and__copyright {
    margin-top: 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 0px;
    width: 800px;
  }
  footer #icons__and__copyright #ul__socialmedia li img {
    width: 40px;
    margin: 0px 18px 0px 0px;
    padding: 0px;
  }

  small {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
